//Burger



.header {

   &__top {
      border-bottom: 1px solid $grey;
		a {
			&:hover{
				transition: all 0.3s ease 0s;
				color: $green;
			}
		}
   }

	&__body {
		a {
			&:hover{
				transition: all 0.3s ease 0s;
				color: $green;
			}
		}
	}

	&__catalog {
		
		a {
			&:hover{
				transition: all 0.3s ease 0s;
				
			}
		}
	}

}

.top-header {
   padding: rem(10) 0;
   &__container {
      display: flex;
      align-items: center;
      gap: rem(20);
      min-height: rem(30);
      
   }

   &__menu {
      flex: 1 1;
   }

   &__user {
      display: flex;
      align-items: center;
      font-weight: 600;
      line-height: math.div(22, 14);
      > span {
         font-family: $fontFamily;
      }
      &::before{
         font-size: rem(20);
         margin-right: em(10, 20);
      }
   }
}

.menu-top-header{
	&__list {
      display: flex;
      flex-wrap: wrap;
      row-gap: 5px;
      @include adaptiveValue("column-gap", 60, 20);
   }

   &__link {
      line-height: math.div(20, 14);
   }
}

.menu {
   &__body {
		@media (max-width: $mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			overflow: auto;
			// background-color: $grey;
			padding: rem(50) rem(15);
			z-index: 4;
			
		}
   }
	@media (max-width: $tablet){
		flex: 0 0 30px;
		display: block;
	}
   
}

.body-header {
padding: rem(10) 0;
	&__container {
		display: flex;
		height: rem(90);
		align-items: center;
		@include adaptiveValue("height", 90, 60, 1950, 1400, 1);
	}

	&__logo {
		font-family: $logoFont;
		font-size: rem(30);
	}

	&__search {
		flex: 1 1 auto;
		padding-right: rem(20);
		@include adaptiveValue("padding-left", 158, 20, 1950, 1400, 1);
		// @include adaptiveValue("padding-right", 100, 5);
	}
	&__actions {
	}
}

.search-header {
	max-width: rem(300);
	background-color: $bgSearch;
	border-radius: rem(3);
	position: relative;
	border: 1px solid rgba(4, 4, 4, 0.5);
	&__button {
		position: absolute;
		top: 0;
		left: rem(4);
		background-color: transparent;
		height: rem(30);
		width: rem(30);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__input {
		width: 100%;
		height: rem(30);
		background-color: transparent;
		border-radius: rem(3);
		padding: 0px rem(20) 0px rem(40);
	}
}

.actions-header {
display: flex;
align-items: center;
// column-gap: rem(30);
@include adaptiveValue("column-gap", 30, 15,  1950, 1000, 1);
	&__location {
		> span{
			font-family: $fontFamily;
		}
		display: inline-flex;
		align-items: center;
		margin: 0 rem(20) 0 0;
		@include adaptiveValue("margin-right", 20, 0, 1950, 1250, 1);
		&::before{
			font-size: rem(20);
			margin: 0 em(5, 24) 0 0;
		}
	}

	&__phones {
		
	}

	&__cart {
	}
}

.phones-header {

	&__items {
	}

	&__item {
		position: relative;
		display: flex;
	}

	&__phone {
		> span{
			font-family: $fontFamily;
		}
		white-space: nowrap;
		line-height: math.div(20, 18);
		&::before{
			font-size: rem(15);
			margin: 0 em(5) 0 0;
		}
	}

	&__arrow {
		color: $mainColor;
		font-size: rem(9);
		margin-left: em(5, 4);

		&:hover{
			transition: all 0.3s ease 0s;
			color: black;
		}
	}

	&__list {
		position: absolute;
		top: 100%;
		width: 100%;	
		left: 0;
		margin: rem(5) 0 0 0;
		background-color: $bg;
		border-radius: rem(7);
		padding: rem(10);
		li{
			&:not(:last-child) {margin-bottom: em(8, 18);}
		}
	}

	&__callback {
		display: block;
		margin: rem(3) 0 0 0;
		line-height: math.div(22, 18);
			color: $green;
	}
}

.cart-header {
display: flex;
align-items: center;
column-gap: 15px;
	&__icon {
		> span{
			font-family: $fontFamily;
			font-size: rem(8);
			background-color: $green;
			color: #fff;
			position: absolute;
			width: rem(14);
			height: rem(14);
			border-radius: 50%;
			display: flex;
			top: 0;
			right: 0;
			justify-content: center;
			align-items: center;
		}
		flex: 0 0 37px;
		font-size: rem(35);
		position: relative;
	}

	&__body {
		line-height: math.div(20, 14);
		font-size: rem(14);
		flex: 0 0 auto;
		@media (max-width: em(1250)) {
			display: none;
		}
	}

	&__sum {
		font-weight: 500;
		&:not(:last-child){
			margin-bottom: em(5, 14);
		}
	}

	&__link {
			color: $green;
	}
}

.catalog-header {
   margin: 15px 0;
   color: #fff;
   background-color: $mainColor;
   position: relative;
   &__container {
   }

   &__menu {
   }
}

.menu-catalog {

   &__list {
      display:flex;
      gap: rem(10);
      row-gap: rem(5);
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      text-align: center;

   }

   &__item {
      flex-grow: 1;
		z-index: 2;
      @media(any-hover: hover) {
			&:hover{
				background-color: $green;
				color: #fff;
				transition: all 0.3s ease 0s;
			}
			
		}
   }

   &__item-title {
      min-height: rem(50);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
      
   }

   &__link {
   }

   &__sub-menu {
      display: none;
      position: absolute;
      padding: 0 rem(10);
z-index: 10;

// left: rem(0);

   }
}

.menu-catalog__list li:hover .menu-catalog__sub-menu{
   // display: block;
   display: flex;
   justify-content: space-between; 
   // gap: rem(40);
   flex-wrap: wrap;
   
    
   
   }

.sub-menu {
   display: flex;
   
   // align-items: center;
   //    text-align: center;
   &__menu-items {
      
      
      
      
   }

   &__items-title {
      font-size: rem(15);
		margin: rem(10) 0;
		color: $mainColor;
      // &:first-child{
      //    margin-right: 15px;
      // }
   }

   &__link {
      color: $mainColor;
		
		line-height: math.div(20, 14);
   }
}


