@use "sass:math";

@import "mixins";

@import url("https://fonts.googleapis.com/css?family=Pacifico:regular&display=swap");
//@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700&display=swap");

@import "fonts";
@import "icons";

// Шрифт по уполномочию
$fontFamily: "Comfortaa";
$fontSize: rem(14);
$logoFont: "Pacifico";

// Основные цвета
$mainColor: #555555;
$green: #7AC751;
$lightGrey: #F7F8FA;
$grey: #C2C2C2;


// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера
$maxWidthContainer: 1590;
// Общий отступ у контейнера
//(слева + справа)
$containerPadding: 30;

// Тип адаптива: 1 - отзыввчивость; 2 - брейкпоинты
$responsiveType: 1;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейкпоинты
$pc: em($containerWidth); // ПК, ноуты, большие планшеты
$tablet: em(991.98); // планшеты, телефоны с большим разрешением
$mobile: em(767.98); // телефоны
$mobileSmall: em(479.98); // маленькие телефоны

// Обнуляющие стили
@import "null";

// Оболочка
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   > main {
      flex: 1 1 auto;
   }
   > * {
min-width: 0;
   }
}

// Контейнер
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// .__container {
//    margin: 0 auto;
//    max-width: rem($maxWidthContainer);
//    box-sizing: content-box;
// }

// Стили header
@import "header";

@import "slider";

// Стили footer
@import "footer";