$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$_icon-delivery: "\e903";
$_icon-guarantee: "\e904";
$_icon-location: "\e905";
$_icon-phone: "\e907";
$_icon-singIn: "\e90b";
$_icon-support: "\e90c";
$_icon-wallet: "\e90d";
$_icon-app-store: "\e900";
$_icon-arrow_carrot-left: "\e901";
$_icon-arrow_carrot-right: "\e908";
$_icon-basket: "\e90f";
$_icon-cc-mastercard: "\e910";
$_icon-cc-visa: "\e912";
$_icon-facebook-f: "\e915";
$_icon-google-play: "\e918";
$_icon-house: "\e919";
$_icon-icon_clock: "\e91a";
$_icon-icon_comment: "\e91b";
$_icon-icon_contacts: "\e91c";
$_icon-icon_creditcard: "\e91d";
$_icon-icon_mail: "\e91e";
$_icon-icon_phone: "\e91f";
$_icon-icon_location: "\e920";
$_icon-icon_question: "\e921";
$_icon-icon_search: "\e922";
$_icon-icon_wallet: "\e923";
$_icon-instagram: "\e924";
$_icon-sign-in: "\e925";
$_icon-skype: "\e926";
$_icon-twitter: "\e927";
$_icon-vk: "\e928";

